html{
  animation: fadeInAnimation 0.5s ease-in forwards;
  
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
    font-family: 'Press Start 2P';
    
}

body::after {
    content: "";
    background-image: url('/home/rakshtih-raj/rakshith-raj/Projects/MultiplayerGame-Website/Assests/Images/abstract-background.avif'); 
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8; 
    z-index: -1;
    
}


@keyframes color {
    0% {
        color: #f00; 
      }
      25% {
        color: #0f0; 
      }
      50% {
        color: #00f; 
      }
      75% {
        color: #ff0; 
      }
      100% {
        color: #f0f; 
      }
}



.content{
  display:flex;
  z-index: 1;
  flex-direction:column;
  
}


.content3 {
    display: flex;   
    flex-direction:column;
   
    
}

.content2 {
  display: flex; 
  color: #dbd8e3;
  justify-content: center;
  align-items: center;
  height: 80vh;   
  flex-direction:column;
  margin: 30px;
 
  
}


h2{
    text-align: center; 
    animation: color 8s infinite ;
    font-size: 48px;
    
    
}



/*Button and Input text*/

.link , .name {
  margin: 15px;
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 20px;
  font-weight: lighter;
  z-index: 1;
  font-family: 'Press Start 2P';
  text-decoration: none;
 
}

input[type='text']::placeholder
{   
    text-align: center;   
}

.name { 
  text-align: center; 
}

.cursor
{
  cursor: pointer;
}


button:hover {
  color:black;
  
}
span {
  transition: all 0.7s;
  z-index: -1;
}

button .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffffff;
}

button:hover .first {
  top: 0;
  right: 0;
}
button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffffff;
}

button:hover .second {
  top: 0;
  left: 50%;
}

button .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffffff;
}

button:hover .third {
  top: 0;
  left: 25%;
}

button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffffff;
}

button:hover .fourth {
  top: 0;
  left: 0;
}

/* Music Volume Button */

.image-button {
  width: 51.2px;
  height: 51.2px;
  border: none;
  padding: 0;
  margin: 40px;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}

.volume{
  width: 25.6px;
  height: 25.6px;
  
}

/* Avatar */

.avatar-sys
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: row;
}

.circular-container {
  display: grid;
  width: 170px; 
  height: 170px;
  border: 4px solid #ffffff; 
  border-radius: 50%; 
  margin: 30px;
  align-self: center;
  justify-self: center;
}

.avatar{
  height: inherit;
  width: inherit;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}


.arrow-left:hover , 
.arrow-right:hover {
 
  transform: scale(1.2);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid white;
  position: relative;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid white;
  position: relative;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}